* {
    box-sizing: border-box;
    margin: 0px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 60px;
    background-color: #212121;
    height: 50px;
}

a {
    font-size: 20px;
    color: white;
    margin: 10px;
    
}

/* mamma-diven, id från index */
#seeProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


/* hämtat från JS classlist*/
.productContainer {
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    width: 200px;
    border: 1px solid black;
}

/* knappen lägg till i varukorg, hämtat från JS classlist */
.deleteBtn {
    display: flex;
    background-color: #5596F5;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    width: 150px;
    height: 6vh;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
